<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enter Bike Details</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <style>
        .align1
        {
            width: 50%;
            margin-left: 25%;
        }
        .btn1
        {
            text-align: center;
        }
    </style>
</head>
<body>
    <h2 align="center">Enter Bike Data</h2><br>
    <h3 align="center" style="color: greenyellow;">{{ Msg }}</h3><br>
    <form action="add_bike" method="post">
        {% csrf_token %}

            <div class="form-floating mb-3 align1">
                <input type="text" class="form-control" name="txtCompanyName" id="companyName" placeholder="Company Name">
                <label for="companyName">Bike Company Name</label>
            </div>

            <div class="form-floating mb-3 align1">    
                <input type="text" class="form-control" name="txtBikeName" id="bikeName" placeholder="Bike Name">
                <label for="bikeName">Bike Name</label>
            </div>

            <div>
                <select name="selFuelType" class="form-select mb-3 align1" aria-label="Default select example">
                    <option selected>Select Fuel Type</option>
                    <option>Electric</option>
                    <option>Petrol</option>
                    <option>XP100</option>
                </select>
            </div>

            <div class="form-floating mb-3 align1">
                <input type="text" class="form-control" name="txtModelYear" id="modelYear" placeholder="Model Yaer">
                <label for="bikeName">Model Year</label>
            </div>
            <div class="btn1">
                <input class="btn btn-dark" type="submit" name="btnSub" value="Add Bike">
            </div>    
            </form>
</body>
</html>